.swiper {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.swiper-slide {
  width: 600px; /* Adjusted width for non-active slides */
  height: 400px; /* Adjusted height for non-active slides */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  background-color: transparent !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.swiper-slide-active {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
