/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 13rem;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-slide-active {
  width: 1.2 ; /* Increase width for the active slide */
  transition: width 0.3s ease-in-out;
}
