.rotating-curved-text {
    animation: rotate 10s linear infinite;
    font-weight: bold;    
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  